<footer class="footer container">
    <div class="footer_top">
        <ul class="menu">
            <li><a href="">首頁</a></li>
            <li><a href="">系列鏡框</a></li>
            <li><a href="">門市據點</a></li>
            <li><a href="">部落格</a></li>
            <li><a href="">常見問題</a></li>
        </ul>
        <div class="menu_r">
            <img src="../../assets/images/ic-social-fb.png" alt="">
            <img src="../../assets/images/ic_social_ig.png" alt="">
            <img src="../../assets/images/ic_social_line.png" alt="">
        </div>
        
    </div>
    <div class="footer_mid"></div>
    <div class="footer_bottom"></div>
</footer>