.footer{
  background: #AA0601;
  padding-top: 60px;
  padding-bottom: 32px;
  // display: flex;
  // 	justify-content: space-between;
}
 
.footer_top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_top img{
  width: 48px;
  height: 48px;
  margin-right: 32px;
}
 

.footer .menu{
  display: flex;
  flex-wrap: wrap;
}

.footer .menu li a{
  color: #FFFFFF;
  display: block;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  // padding:10px;
  padding-left: 16px;
  padding-right: 16px;
  // padding-top: 10px;
  // padding-bottom: 10px;
}